body {
    text-align: center;
}

.title {
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    background-image: url('images/typing.jpg');
    background-size: cover;
    height: 50%;
    border-radius: 100px;
    
    
    color: cornsilk;
}
.buttons {
    display: inline-flex;
}

.socials{
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 10px;
    color: #00000000;
    cursor: pointer;
    height: 54px;
    padding-bottom: 2px;
    width: 54px;
    margin: 10px;
}
#linkedin {
    background-image: url("images/LinkedIn_icon.png");
    background-size: 55px;
    background-origin: inherit;
}
#github {
    background-image: url("images/GitHub-Mark.png");
    background-size: 50px;
}

.topnav {
    background-color: green;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a:hover {
    background-color: forestgreen;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: white;
}

h1 {
    font-size: 100px;
}

li {
    display: inline;
}